body {
    /*background-color: #efefef;*/
    background-image: url("/img/free-business-plan-templates.jpg");
    background-attachment: fixed;
    background-size: cover;
}

a.link:hover {
    color: #007bff !important
}

@font-face {
    font-family: Franchise;
    src: url("/fonts/Franchise-Bold-hinted.ttf");
}

.navbar {
    padding: 0;
    background-color: rgba(0,0,0,0.6)
}

a.navbar-brand {
    padding: 10px 30px !important;
}

.navbar .nav-item {
    padding: 0 !important;
}

.navbar .nav-item a {
    padding: 16px !important;
}

.navbar-brand a, .nav-item a {
    color: white !important
}

.navbar a.navbar-brand {
    background-image: initial;
    background-color: initial;
}

.navbar .active.nav-item, .nav-item:hover {
    background-color: #00c2a9
}
